.search-container {
	display: flex;
	margin-bottom: 50px;
	/*height: 25px;*/
	/*height: 10px;*/
}

#search-input {
	padding: 5px;
}
/*
#search-button  {
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-icon  {
	width: 25px;
	height: 25px;
}
*/