.search-container {
	display: flex;
	/*height: 25px;*/
	/*height: 10px;*/
}

#search-button  {
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-icon  {
	width: 25px;
	height: 25px;
}

.search-container + (input, button, img) {
	/*height:10px;*/
}

